html, body{
  color: #fff;
  background: #000;
  padding: 0;
  margin:0;
  height: 100%;
}
h1, h2, h3, h4{
  font-size: initial;
}
[data-actor]{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}
[data-actor] [data-profile]{
   /* 자식만 가능 <- align-self 속성   */
  display: flex;
  flex-direction: column;
  margin-top: -80px;
  align-items: center;
}
[data-actor] [data-filmos] {
width: 400px;
}
h1{
  font-size: 32px;
}

h2{
  font-size: 24px;
}

h4{
  font-size: 16px;
}
[data-search-form]{
  display: flex;
  justify-content: flex-end;
  padding-top: 80px;
  padding-right: 100px;
}
[data-search-form] [data-search-input]{
  width: 200px;
  height: 30px;
  font-size: 15px;
  padding-left: 10px;
  border-radius: 5px;
}
[data-search-form] button{
  width: 50px;
  height: 35px;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 700;
  vertical-align: middle;
}
[data-filmBtn]{
  padding: 2px 5px;
  margin: 0 2px;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 500;
  border: 1px solid #fff;
  color: #fff;
  background:rgba(255,255,255,.08);
}
[data-overlay]{
  display: none;
  position: fixed;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .75);
}

[data-overlay] [data-close-btn]{
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
  font-size: 24px;
  line-height: 23px;
  color: #000;
  background: #f2f2f2;
  text-align: center;
  cursor: pointer;
}

[data-overlay] [data-modal]{
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 0;
  right: 0;
  width: 500px;
  height: 500px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background: #fff;
  color: #000;
}
